<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Корзина</title>
		<object th:replace="fragments :: head" th:remove="tag"></object>
	</head>
	<body>
		<div th:replace="fragments :: header"></div>
		<div id="main">
			<h1>Корзина</h1>
            <div class="shopping-cart">

                <div class="column-labels">
                    <label class="product-image">Картинка</label>
                    <label class="product-details">Название</label>
                    <label class="product-price">Стоимость</label>
                    <label class="product-quantity">Количество</label>
                    <label class="product-removal">Удалить</label>
                    <label class="product-line-price">Всего</label>
                </div>

                <div class="product" th:each="cart : ${cart_items}">
                    <div class="product-image">
                        <img th:src="@{/resources/{src}(src=*{cart.image})}">
                    </div>
                    <div class="product-details">
                        <div class="product-title">[[*{cart.name}]]</div>
                        <p class="product-description">Product ID: [[*{cart.pid}]]</p>
                    </div>
                    <div class="product-price">[[*{cart.price}]]</div>
                    <div class="product-quantity">
                        <input type="number" value="1" min="1">
                    </div>
                    <div class="product-removal">
                        <button type="submit" class="remove-product" th:id="*{cart.pid}">
                            Удалить
                        </button>
                    </div>
                    <div class="product-line-price">[[*{cart.price}]]</div>
                </div>

                <div class="totals">
                    <div class="totals-item totals-item-total">
                        <label>Общая стоимость</label>
                        <div class="totals-value" id="cart-total">Total</div>
                    </div>
                </div>

                <button class="checkout">Оформить заказ</button>

            </div>
		</div>
		<object th:replace="fragments :: footer">
		</object>
	</body>
</html>