<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Авторизация</title>
		<object th:replace="fragments :: head" th:remove="tag"></object>
	</head>
	<body>
		<div th:replace="fragments :: header"></div>
		<div id="main">
			<div th:if="${param.error}">
				Invalid username and password.
			</div>
			<div th:if="${param.logout}">
				You have been logged out.
			</div>
			<form th:action="@{/auth/signin}" method="post">
				<div><label> Логин: <input type="text" name="username"/> </label></div>
				<div><label> Пароль: <input type="password" name="password"/> </label></div>
				<div><input type="submit" value="Войти"/></div>
			</form>
		</div>
		<object th:replace="fragments :: footer">
		</object>
	</body>
</html>